
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../mulimedia/imgs/fondo-turnos.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* justify-content: center; */
  /* align-items: center; */
}

.custom-modify-navbar{
    justify-content: end;
  }

.nav-item>a:hover{
    color: white !important;
  }

  section{
    /* border: 2px solid black; */
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.815);
    width: 60vw !important;
    height: 50vh;
    padding: 1.5em .5em !important;
    justify-self: center;
    align-items: center;

    margin-left: 21% !important;
    margin-top: 8% !important;

  }

  @media screen and (max-width:768px){
    section{
    width: 75vw !important;
    margin-left: 12% !important;
      
    }
  }

  section>.formulario{
    /* border: 1px solid red; */
    padding: 2em 0;
    /* height: 100%; */
  }

  .formulario>.botones{
    margin-top: 1.5em;
  }

  section>.resultado-filtro{
    /* border: 2px solid green; */
    margin: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 153, 255, 0.151); */
    display: flex;
    /* align-items: center !important; */
    overflow: scroll;
  }
  section>.resultado-filtro::-webkit-scrollbar{
    display: none;
  }
  .resultado-filtro button[type="button"]{
    margin-left: 0.4em;
    /* background-color: rgb(235, 232, 232); */
    
  }
